.unlock-btn {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  cursor: pointer;
  z-index: 777;
}

.unlock-btn:checked {
  display: none;
}

.introduce-btn:checked~.perspective .iPhone-1 .screen-locked {
  transition: opacity 1s ease 62s;
  opacity: 1;
}

.unlock-btn:checked~.perspective .iPhone-1 .screen-home {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  border-radius: 46px;
}