.introduce-btn {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  cursor: pointer;
  z-index: 888;
}

.iPhone-2 {
  transform: rotateY(-90deg) translateY(270%) scale3d(3, 3, 3)
}

.introduce-btn:checked~.text-container .start-text {
  transition: none;
  opacity: 0;
}

@keyframes perspective-flash {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.introduce-btn:checked~.perspective {
  animation-name: perspective-flash;
  animation-duration: 1s;
  animation-delay: 0s;
}

.introduce-btn:checked~.perspective .iPhone-1 {
  animation: introduce-animation-iPhone-1 100s linear;
  transform: translate(0);
}

@keyframes introduce-animation-iPhone-1 {
  0% {
    transform: rotateY(90deg) translateX(100%) translateY(-150%) scale3d(1.5, 1.5, 1.5);
    transform-origin: 120% center;
  }

  5% {
    transform: rotateY(90deg) translateX(100%) translateY(-50%) scale3d(1.5, 1.5, 1.5);
    transform-origin: 120% center;
  }

  10% {
    transform: rotateY(130deg) translateX(100%) translateY(30%) scale3d(1.5, 1.5, 1.5);
    transform-origin: 120% center;
  }

  13% {
    transform: rotateY(130deg) translateX(100%) translateY(40%) scale3d(1.5, 1.5, 1.5);
    transform-origin: 120% center;
  }

  14% {
    transform: rotateY(310deg) translateX(100%) translateY(45%) scale3d(1.5, 1.5, 1.5);
    transform-origin: 120% center;
  }

  20% {
    transform: rotateY(310deg) translateX(100%) translateY(55%) scale3d(1.5, 1.5, 1.5);
    transform-origin: 120% center;
  }

  22% {
    transform: translate(0) scale3d(1, 1, 1);
    transform-origin: center center;
  }

  22.5% {
    transform: translate(0)
  }

  /* 展示侧边 */
  23.5% {
    transform: rotateY(30deg)
  }

  25.5% {
    transform: rotateY(30deg)
  }

  26.5% {
    transform: rotateX(30deg) rotateY(30deg) rotateZ(-15deg) translateX(-150%);
  }

  42% {
    transform: rotateX(30deg) rotateY(30deg) rotateZ(-15deg) translateX(-150%);
  }

  44% {
    transform: rotateX(-5deg) rotateY(145deg) rotateZ(-10deg) translateX(-150%);
  }

  60% {
    transform: rotateX(-5deg) rotateY(145deg) rotateZ(-10deg) translateX(-150%);
  }

  61% {
    transform: translate(0);
  }
}

.introduce-btn:checked~.perspective .iPhone-1 .front {
  animation: introduce-animation-front 100s linear 27s 1 normal;
}

@keyframes introduce-animation-front {
  0% {
    transform: translateZ(15px);
    ;
  }

  1% {
    transform: translateX(350px) translateZ(50px) scale(1.2, 1.2);
  }

  15% {
    transform: translateX(350px) translateZ(50px) scale(1.2, 1.2);
  }

  16% {
    transform: translateZ(15px) scale(1, 1);
  }
}


.introduce-btn:checked~.perspective .iPhone-1 .front .front-camera-container {
  animation: introduce-animation-front-camera-container 100s linear 31s 1 normal;
}

@keyframes introduce-animation-front-camera-container {
  0% {
    transform: translateX(-50%);
  }

  1% {
    transform: translateX(-50%) rotateX(120deg);
    transform-origin: top;
  }

  2% {
    transform: translateX(-50%) rotateX(0deg);
    transform-origin: top;
  }

  3% {
    transform: translateX(-50%) rotateX(120deg);
    transform-origin: top;
  }

  4% {
    transform: translateX(-50%) rotateX(0deg);
    transform-origin: top;
  }

  5% {
    transform: translateX(350px) translateZ(50px) scale(1.2, 1.2);
  }

  11% {
    transform: translateX(350px) translateZ(50px) scale(1.2, 1.2);
  }

  12% {
    transform: translateX(-50%) scale(1, 1);
  }
}


.introduce-btn:checked~.perspective .iPhone-1 .back .camera-group {
  animation: introduce-animation-camera-group 100s linear 44s 1 normal;
}

@keyframes introduce-animation-camera-group {
  0% {
    transform: translate(0);
  }

  1% {
    transform: translateX(-200px) translateZ(50px) rotateX(-100deg) rotateX(80deg) rotateY(30deg) scale(1.2, 1.2);
  }

  16% {
    transform: translateX(-200px) translateZ(50px) rotateX(-100deg) rotateX(80deg) rotateY(30deg) scale(1.2, 1.2);
  }

  17% {
    transform: translate(0) scale(1, 1);
  }
}



.introduce-btn:checked~.perspective .iPhone-2 {
  animation: introduce-animation-iPhone-2 100s linear;
  transform: rotateY(180deg) translateX(-100%) translateY(-888%) scale3d(1.5, 1.5, 1.5);
  transform-origin: -25% center;
}

@keyframes introduce-animation-iPhone-2 {
  0% {
    transform: rotateY(90deg) translateX(-100%) translateY(270%) scale3d(1.5, 1.5, 1.5);
  }

  5% {
    transform: rotateY(90deg) translateX(-100%) translateY(170%) scale3d(1.5, 1.5, 1.5);
  }

  10% {
    transform: rotateY(40deg) translateX(-100%) translateY(70%) scale3d(1.5, 1.5, 1.5);
  }

  13% {
    transform: rotateY(40deg) translateX(-100%) translateY(40%) scale3d(1.5, 1.5, 1.5);
  }

  14% {
    transform: rotateY(220deg) translateX(-100%) translateY(-30%) scale3d(1.5, 1.5, 1.5);
  }

  20% {
    transform: rotateY(220deg) translateX(-100%) translateY(-40%) scale3d(1.5, 1.5, 1.5);
  }

  22% {
    transform: rotateY(180deg) translateX(-100%) translateY(-888%) scale3d(1.5, 1.5, 1.5);
  }
}

.introduce-text-container-1 {
  position: fixed;
  bottom: 80px;
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.introduce-text-container-1>div {
  opacity: 0;
  position: absolute;
}

.introduce-text-container-1>div>p {
  opacity: 1;
  width: fit-content;
  margin: 4px auto;
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.6);
  font-size: 30px;
  color: white;
  white-space: nowrap;
}

.introduce-btn:checked~.text-container .introduce-text-container-1 .introduce-text-1-3 {
  transition: opacity .1s ease 1s;
  opacity: 1;
}

.introduce-btn:checked~.text-container .introduce-text-container-1 .introduce-text-1-3>p {
  transition: opacity .1s ease 3s;
  opacity: 0;
}

.introduce-btn:checked~.text-container .introduce-text-container-1 .introduce-text-3-5 {
  transition: opacity .1s ease 3s;
  opacity: 1;
}

.introduce-btn:checked~.text-container .introduce-text-container-1 .introduce-text-3-5>p {
  transition: opacity .1s ease 5s;
  opacity: 0;
}

.introduce-btn:checked~.text-container .introduce-text-container-1 .introduce-text-5-7 {
  transition: opacity .1s ease 5s;
  opacity: 1;
}

.introduce-btn:checked~.text-container .introduce-text-container-1 .introduce-text-5-7>p {
  transition: opacity .1s ease 7s;
  opacity: 0;
}

.introduce-btn:checked~.text-container .introduce-text-container-1 .introduce-text-7-9 {
  transition: opacity .1s ease 7s;
  opacity: 1;
}

.introduce-btn:checked~.text-container .introduce-text-container-1 .introduce-text-7-9>p {
  transition: opacity .1s ease 9s;
  opacity: 0;
}

.introduce-btn:checked~.text-container .introduce-text-container-1 .introduce-text-9-11 {
  transition: opacity .1s ease 9s;
  opacity: 1;
}

.introduce-btn:checked~.text-container .introduce-text-container-1 .introduce-text-9-11>p {
  transition: opacity .1s ease 11s;
  opacity: 0;
}

.introduce-btn:checked~.text-container .introduce-text-container-1 .introduce-text-11-13 {
  transition: opacity .1s ease 11s;
  opacity: 1;
}

.introduce-btn:checked~.text-container .introduce-text-container-1 .introduce-text-11-13>p {
  transition: opacity .1s ease 13s;
  opacity: 0;
}

.introduce-btn:checked~.text-container .introduce-text-container-1 .introduce-text-13-15 {
  transition: opacity .1s ease 13s;
  opacity: 1;
}

.introduce-btn:checked~.text-container .introduce-text-container-1 .introduce-text-13-15>p {
  transition: opacity .1s ease 15s;
  opacity: 0;
}

.introduce-btn:checked~.text-container .introduce-text-container-1 .introduce-text-15-17 {
  transition: opacity .1s ease 15s;
  opacity: 1;
}

.introduce-btn:checked~.text-container .introduce-text-container-1 .introduce-text-15-17>p {
  transition: opacity .1s ease 17s;
  opacity: 0;
}

.introduce-btn:checked~.text-container .introduce-text-container-1 .introduce-text-17-19 {
  transition: opacity .1s ease 17s;
  opacity: 1;
}

.introduce-btn:checked~.text-container .introduce-text-container-1 .introduce-text-17-19>p {
  transition: opacity .1s ease 19s;
  opacity: 0;
}

.typing-container {
  padding: 20px;
  background: linear-gradient(rgba(55, 55, 155, 10%), transparent);
  border-top: 1px solid #e3a541;
  border-radius: 20px;
  position: absolute;
  opacity: 0;
  width: 360px;
}

.typing-container::after {
  content: '';
}

.typing-container p {
  font-size: 16px;
  margin: 4px 12px;
  white-space: nowrap;
  overflow: hidden;
  color: transparent;
  width: 0;
}

@keyframes show-text-container {
  0% {
    opacity: 0;
  }

  5%,
  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  50% {
    border-right: 1px solid #e3a541;
  }
}

.introduce-text-container-2 {
  top: 30%;
  left: 10%;
}

.introduce-btn:checked~.text-container .introduce-text-container-2 {
  animation: show-text-container 3s ease 22.5s;
}

.introduce-btn:checked~.text-container .introduce-text-container-2 p:nth-of-type(1) {
  animation: typing 2s steps(16, end) 22.5s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 22.5s;
  animation-delay: 22.5s;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked~.text-container .introduce-text-container-2 p:nth-of-type(2) {
  animation: typing 2s steps(15, end) 22.75s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 22.75s;
  animation-delay: 22.75s;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked~.text-container .introduce-text-container-2 p:nth-of-type(3) {
  animation: typing 2s steps(15, end) 23s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 23s;
  animation-delay: 23;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked~.text-container .introduce-text-container-2 p:nth-of-type(4) {
  animation: typing 2s steps(15, end) 23.25s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 23.25s;
  animation-delay: 23.25s;
  color: #e3a541;
  width: 260px;
}


.introduce-text-container-3 {
  top: 5%;
  left: 15%;
}

.introduce-btn:checked~.text-container .introduce-text-container-3 {
  animation: show-text-container 3s ease 28s;
}

.introduce-btn:checked~.text-container .introduce-text-container-3 p:nth-of-type(1) {
  animation: typing 2s steps(15, end) 28s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 28s;
  animation-delay: 28s;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked~.text-container .introduce-text-container-3 p:nth-of-type(2) {
  animation: typing 2s steps(15, end) 28.25s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 28.25s;
  animation-delay: 28.25s;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked~.text-container .introduce-text-container-3 p:nth-of-type(3) {
  animation: typing 2s steps(15, end) 28.5s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 28.5s;
  animation-delay: 28.5s;
  color: #e3a541;
  width: 260px;
}


.introduce-text-container-4 {
  top: 5%;
  left: 55%;
}

.introduce-btn:checked~.text-container .introduce-text-container-4 {
  animation: show-text-container 4s ease 31s;
}

.introduce-btn:checked~.text-container .introduce-text-container-4 p:nth-of-type(1) {
  animation: typing 2s steps(15, end) 31s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 31s;
  animation-delay: 31s;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked~.text-container .introduce-text-container-4 p:nth-of-type(2) {
  animation: typing 2s steps(15, end) 31.25s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 31.25s;
  animation-delay: 31.25s;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked~.text-container .introduce-text-container-4 p:nth-of-type(3) {
  animation: typing 2s steps(15, end) 31.5s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 31.5s;
  animation-delay: 31.5s;
  color: #e3a541;
  width: 260px;
}


.introduce-text-container-5 {
  top: 50%;
  left: 65%;
}

.introduce-btn:checked~.text-container .introduce-text-container-5 {
  animation: show-text-container 3s ease 36s;
}

.introduce-btn:checked~.text-container .introduce-text-container-5 p:nth-of-type(1) {
  animation: typing 2s steps(15, end) 36s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 36s;
  animation-delay: 36s;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked~.text-container .introduce-text-container-5 p:nth-of-type(2) {
  animation: typing 2s steps(15, end) 36.25s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 36.25s;
  animation-delay: 36.25s;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked~.text-container .introduce-text-container-5 p:nth-of-type(3) {
  animation: typing 2s steps(15, end) 36.5s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 36.5s;
  animation-delay: 36.5s;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked~.text-container .introduce-text-container-5 p:nth-of-type(4) {
  animation: typing 2s steps(15, end) 36.75s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 36.75s;
  animation-delay: 36.75s;
  color: #e3a541;
  width: 260px;
}


.introduce-text-container-6 {
  top: 40%;
  left: 80%;
}

.introduce-btn:checked~.text-container .introduce-text-container-6 {
  animation: show-text-container 3s ease 39s;
}

.introduce-btn:checked~.text-container .introduce-text-container-6 p:nth-of-type(1) {
  animation: typing 2s steps(15, end) 39s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 39s;
  animation-delay: 39s;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked~.text-container .introduce-text-container-6 p:nth-of-type(2) {
  animation: typing 2s steps(15, end) 39.25s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 39.25s;
  animation-delay: 39.25s;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked~.text-container .introduce-text-container-6 p:nth-of-type(3) {
  animation: typing 2s steps(15, end) 39.5s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 39.5s;
  animation-delay: 39.5s;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked~.text-container .introduce-text-container-6 p:nth-of-type(4) {
  animation: typing 2s steps(15, end) 39.75s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 39.75s;
  animation-delay: 39s.75;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked~.text-container .introduce-text-container-6 p:nth-of-type(5) {
  animation: typing 2s steps(15, end) 40s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 40s;
  animation-delay: 40s;
  color: #e3a541;
  width: 260px;
}


.introduce-text-container-7 {
  top: 10%;
  left: 10%;
}

.introduce-btn:checked~.text-container .introduce-text-container-7 {
  animation: show-text-container 15s ease 45s;
}

.introduce-btn:checked~.text-container .introduce-text-container-7 p:nth-of-type(1) {
  animation: typing 2s steps(15, end) 45s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 45s;
  animation-delay: 45s;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked~.text-container .introduce-text-container-7 p:nth-of-type(2) {
  animation: typing 2s steps(15, end) 45.25s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 45.25s;
  animation-delay: 45.25s;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked~.text-container .introduce-text-container-7 p:nth-of-type(3) {
  animation: typing 2s steps(15, end) 45.5s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 45.5s;
  animation-delay: 45.5s;
  color: #e3a541;
  width: 260px;
}


.introduce-text-container-8 {
  top: 60%;
  left: 15%;
}

.introduce-btn:checked~.text-container .introduce-text-container-8 {
  animation: show-text-container 12s ease 48s;
}

.introduce-btn:checked~.text-container .introduce-text-container-8 p:nth-of-type(1) {
  animation: typing 2s steps(15, end) 48s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 48s;
  animation-delay: 48s;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked~.text-container .introduce-text-container-8 p:nth-of-type(2) {
  animation: typing 2s steps(15, end) 48.25s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 48.25s;
  animation-delay: 48.25s;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked~.text-container .introduce-text-container-8 p:nth-of-type(3) {
  animation: typing 2s steps(15, end) 48.5s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 48.5s;
  animation-delay: 48.5s;
  color: #e3a541;
  width: 260px;
}


.introduce-text-container-9 {
  top: 30%;
  left: 35%;
}

.introduce-btn:checked~.text-container .introduce-text-container-9 {
  animation: show-text-container 9s ease 51s;
}

.introduce-btn:checked~.text-container .introduce-text-container-9 p:nth-of-type(1) {
  animation: typing 2s steps(15, end) 51s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 51s;
  animation-delay: 51s;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked~.text-container .introduce-text-container-9 p:nth-of-type(2) {
  animation: typing 2s steps(15, end) 51.25s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 51.25s;
  animation-delay: 51.25s;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked~.text-container .introduce-text-container-9 p:nth-of-type(3) {
  animation: typing 2s steps(15, end) 51.5s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 51.5s;
  animation-delay: 51.5s;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked~.text-container .introduce-text-container-9 p:nth-of-type(4) {
  animation: typing 2s steps(15, end) 51.75s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 51.75s;
  animation-delay: 51.75s;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked~.text-container .introduce-text-container-9 p:nth-of-type(5) {
  animation: typing 2s steps(15, end) 52s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 52s;
  animation-delay: 52s;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked~.text-container .introduce-text-container-9 p:nth-of-type(6) {
  animation: typing 2s steps(15, end) 53s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 53s;
  animation-delay: 53s;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked~.text-container .introduce-text-container-9 p:nth-of-type(7) {
  animation: typing 2s steps(15, end) 54s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 54s;
  animation-delay: 54s;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked~.text-container .introduce-text-container-9 p:nth-of-type(8) {
  animation: typing 2s steps(15, end) 55s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 55s;
  animation-delay: 55s;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked~.text-container .introduce-text-container-9 p:nth-of-type(9) {
  animation: typing 2s steps(15, end) 57s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 57s;
  animation-delay: 57s;
  color: #e3a541;
  width: 260px;
}

.introduce-text-container-10 {
  top: 10%;
  left: 70%;
}

.introduce-btn:checked~.text-container .introduce-text-container-10 {
  animation: show-text-container 2s ease 58s;
}

.introduce-btn:checked~.text-container .introduce-text-container-10 p:nth-of-type(1) {
  animation: typing 2s steps(15, end) 58s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 58s;
  animation-delay: 58s;
  color: #e3a541;
  width: 260px;
}


.introduce-text-container-11 {
  top: 50%;
  left: 50%;
}

.introduce-btn:checked~.text-container .introduce-text-container-11 {
  animation: show-text-container 1.5s ease 58.5s;
}

.introduce-btn:checked~.text-container .introduce-text-container-11 p:nth-of-type(1) {
  animation: typing 2s steps(15, end) 58.5s, blink-caret .1s step-end 20 alternate;
  transition: color .25s ease 58.5s;
  animation-delay: 58.5s;
  color: #e3a541;
  width: 260px;
}

.introduce-btn:checked {
  display: none;
}