* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--background-color);
  font-family: "Myriad Pro Light";
}
/* common */
/* for debug */
.hide {
  display: none !important;
}
.m-r-10 {
  margin-right: 10px !important;
}
