@keyframes fadeInAndRotate {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  /* 30% {
    opacity: 1;
    transform: rotateX(196deg);
  } */
  /* 50% {
    opacity: 1;
    transform: rotateY(354deg);
  } */
  /* 80% {
    opacity: 1;
    transform: rotateY(354deg);
  } */
  70% {
    opacity: 1;
    transform: rotateX(196deg) rotateY(0deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(196deg) rotateY(-90deg);
  }
}
@keyframes play-scene2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scene02 {
  position: absolute;
  width: 100%;
  height: 100%;
  perspective: 50px;
  opacity: 0;
  display: flex;
  background: var(--background-color);
  animation-name: play-scene2;
  animation-delay: 18s;
  animation-duration: 0.01s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
.animation-wrapper {
  transform: rotateX(275deg) rotateY(0deg) rotate(0deg);
  transform-style: preserve-3d;
  animation-name: fadeInAndRotate;
  animation-duration: 6s;
  animation-delay: 18s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.25, 0.11, 0.59, 1.07);
}
.particle,
.particle:after {
  background: transparent;
}
.particle:after {
  position: absolute;
  content: "";
  top: 2560px;
}
.particle-1 {
  animation: animParticle 60s linear infinite;
  box-shadow: 0 0 #fff, 2515px 817px #fff, 2283px 212px #fff, 172px 938px #fff,
    1764px 1513px #fff, 2143px 2501px #fff, 1451px 1813px #fff, 85px 375px #fff,
    2533px 2238px #fff, 189px 970px #fff, 1013px 2058px #fff, 1658px 1042px #fff,
    2057px 1332px #fff, 1414px 1602px #fff, 701px 483px #fff, 2147px 2529px #fff,
    2522px 2128px #fff, 10px 39px #fff, 1322px 2427px #fff, 659px 2268px #fff,
    213px 1641px #fff, 2004px 482px #fff, 1458px 1570px #fff, 1723px 1520px #fff,
    1293px 446px #fff, 490px 1154px #fff, 2204px 1296px #fff, 790px 2042px #fff,
    2196px 2370px #fff, 75px 1766px #fff, 2132px 1993px #fff, 1619px 2460px #fff,
    246px 2037px #fff, 521px 902px #fff, 665px 785px #fff, 555px 2432px #fff,
    1012px 185px #fff, 1812px 143px #fff, 2049px 2001px #fff, 2302px 554px #fff,
    514px 2307px #fff, 2252px 74px #fff, 1678px 373px #fff, 1746px 2416px #fff,
    823px 2409px #fff, 106px 801px #fff, 1878px 1710px #fff, 1329px 1598px #fff,
    1937px 2098px #fff, 453px 1094px #fff, 1334px 2539px #fff, 724px 1308px #fff,
    1120px 948px #fff, 569px 1503px #fff, 1062px 1740px #fff, 2375px 1423px #fff,
    938px 2496px #fff, 987px 2113px #fff, 1762px 306px #fff, 1116px 2068px #fff,
    177px 1710px #fff, 1478px 608px #fff, 1146px 561px #fff, 1842px 1237px #fff,
    324px 261px #fff, 497px 2067px #fff, 1699px 328px #fff, 910px 251px #fff,
    190px 861px #fff, 1647px 216px #fff, 1722px 1376px #fff, 2050px 1933px #fff,
    1359px 1931px #fff, 2148px 1881px #fff, 2247px 308px #fff,
    1101px 2276px #fff, 995px 2014px #fff, 1427px 1118px #fff, 1880px 981px #fff,
    418px 581px #fff, 237px 291px #fff, 1531px 2553px #fff, 1739px 699px #fff,
    1668px 1415px #fff, 1722px 2487px #fff, 856px 936px #fff, 1833px 1447px #fff,
    1305px 1986px #fff, 2230px 2522px #fff, 1980px 1529px #fff, 1078px 73px #fff,
    1329px 2497px #fff, 2193px 1129px #fff, 124px 1098px #fff, 1674px 939px #fff,
    2461px 1889px #fff, 2021px 1106px #fff, 1595px 1896px #fff,
    970px 1248px #fff, 844px 2329px #fff, 941px 1961px #fff, 2522px 1237px #fff,
    393px 2386px #fff, 1578px 1198px #fff, 1596px 2513px #fff,
    1121px 1305px #fff, 2524px 2378px #fff, 1130px 345px #fff, 1003px 393px #fff,
    2185px 1849px #fff, 2359px 2343px #fff, 1372px 1354px #fff,
    427px 2545px #fff, 1614px 263px #fff, 1918px 146px #fff, 310px 1520px #fff,
    2457px 1406px #fff, 2491px 1698px #fff, 617px 2424px #fff, 1317px 216px #fff,
    2095px 1577px #fff, 296px 103px #fff, 1019px 1551px #fff, 1880px 1682px #fff,
    2435px 1641px #fff, 1616px 2147px #fff, 448px 1045px #fff, 200px 841px #fff,
    2171px 1730px #fff, 2249px 666px #fff, 1518px 1804px #fff,
    1475px 1606px #fff, 527px 2417px #fff, 2387px 366px #fff, 1335px 374px #fff,
    128px 741px #fff, 300px 1939px #fff, 1831px 1464px #fff, 45px 1547px #fff,
    742px 1688px #fff, 327px 294px #fff, 399px 1245px #fff, 1884px 743px #fff,
    2512px 641px #fff, 2178px 1103px #fff, 2460px 1175px #fff, 2351px 357px #fff,
    899px 622px #fff, 1025px 322px #fff, 1785px 1678px #fff, 513px 591px #fff,
    711px 1663px #fff, 560px 1780px #fff, 41px 823px #fff, 1528px 1738px #fff,
    286px 2143px #fff, 1774px 1229px #fff, 1902px 1761px #fff, 1945px 35px #fff,
    894px 1631px #fff, 2557px 1942px #fff, 1544px 2163px #fff, 302px 1266px #fff,
    2497px 1316px #fff, 1740px 1901px #fff, 1858px 2524px #fff,
    819px 1092px #fff, 2275px 1781px #fff, 2470px 1013px #fff,
    2487px 2448px #fff, 1049px 2254px #fff, 1302px 1816px #fff,
    540px 1110px #fff, 680px 195px #fff, 1321px 1526px #fff, 1758px 470px #fff,
    7px 120px #fff, 1970px 1697px #fff, 2057px 1166px #fff, 1921px 815px #fff,
    860px 761px #fff, 690px 47px #fff, 1343px 1236px #fff, 2559px 1756px #fff,
    2158px 355px #fff, 252px 2231px #fff, 1839px 1822px #fff, 2103px 479px #fff,
    2384px 508px #fff, 2551px 565px #fff, 26px 431px #fff, 1532px 652px #fff,
    1260px 477px #fff, 1304px 2049px #fff, 673px 734px #fff, 1539px 829px #fff,
    1366px 1986px #fff, 691px 1273px #fff, 1392px 1380px #fff, 845px 1733px #fff,
    1305px 1248px #fff, 1179px 832px #fff, 775px 485px #fff, 1256px 990px #fff,
    231px 978px #fff, 2245px 2430px #fff, 282px 1048px #fff, 1851px 1528px #fff,
    1536px 1365px #fff, 1086px 397px #fff, 656px 163px #fff, 2521px 894px #fff,
    2011px 1974px #fff, 2293px 2226px #fff, 1745px 1676px #fff,
    2040px 375px #fff, 2068px 1062px #fff, 680px 73px #fff, 2032px 2268px #fff,
    515px 259px #fff, 1872px 562px #fff, 1271px 34px #fff, 1043px 2464px #fff,
    1778px 199px #fff, 1620px 2107px #fff, 34px 2279px #fff, 1123px 603px #fff,
    1562px 1301px #fff, 275px 2062px #fff, 738px 1344px #fff, 1747px 1479px #fff,
    1892px 115px #fff, 270px 2140px #fff, 1136px 1090px #fff, 1144px 1770px #fff,
    1467px 2129px #fff, 1237px 1343px #fff, 269px 1156px #fff, 1618px 689px #fff,
    146px 2376px #fff, 1411px 2082px #fff, 1703px 195px #fff, 1713px 2444px #fff,
    369px 1143px #fff, 156px 2266px #fff, 1575px 1147px #fff, 2076px 1813px #fff,
    2539px 1861px #fff, 541px 2203px #fff, 1767px 483px #fff, 2394px 1926px #fff,
    1801px 2227px #fff, 1032px 166px #fff, 971px 1068px #fff, 707px 1483px #fff,
    1853px 1992px #fff, 868px 470px #fff, 758px 919px #fff, 2459px 2071px #fff,
    489px 742px #fff, 1295px 1209px #fff, 1807px 2423px #fff, 1598px 2216px #fff,
    2201px 1161px #fff, 1772px 835px #fff, 639px 2477px #fff, 1719px 1461px #fff,
    1517px 2089px #fff, 883px 2072px #fff, 1979px 704px #fff, 922px 422px #fff,
    2550px 1842px #fff, 404px 713px #fff, 1468px 1515px #fff, 304px 874px #fff,
    911px 667px #fff, 1121px 1734px #fff, 538px 120px #fff, 1082px 568px #fff,
    150px 42px #fff, 1580px 829px #fff, 2147px 2119px #fff, 1746px 2555px #fff,
    2152px 2264px #fff, 2147px 713px #fff, 471px 770px #fff, 1744px 361px #fff,
    2174px 691px #fff, 2308px 2016px #fff, 1166px 600px #fff, 1709px 448px #fff,
    1998px 886px #fff, 2089px 763px #fff, 2265px 320px #fff, 990px 2402px #fff,
    1194px 508px #fff, 1075px 228px #fff, 1787px 1326px #fff, 1139px 1342px #fff,
    1767px 378px #fff, 445px 345px #fff, 2229px 1659px #fff, 1056px 258px #fff,
    1074px 324px #fff, 2177px 997px #fff, 200px 2537px #fff, 760px 665px #fff,
    1220px 2270px #fff, 1191px 394px #fff, 2202px 926px #fff, 2136px 499px #fff,
    571px 2449px #fff, 1217px 944px #fff, 1777px 140px #fff, 169px 2260px #fff,
    551px 1205px #fff, 1464px 2417px #fff, 1060px 1966px #fff, 1619px 846px #fff,
    2301px 2133px #fff, 1490px 2153px #fff, 1561px 690px #fff, 1885px 602px #fff,
    1800px 1901px #fff, 139px 686px #fff, 1040px 1685px #fff, 1665px 1955px #fff,
    1561px 603px #fff, 2125px 1859px #fff, 2286px 473px #fff, 620px 1364px #fff,
    2249px 679px #fff, 206px 231px #fff, 1819px 358px #fff, 3px 1652px #fff,
    1349px 1564px #fff, 784px 2252px #fff, 2111px 1323px #fff, 541px 2008px #fff,
    1920px 1641px #fff, 2090px 962px #fff, 1188px 797px #fff, 1117px 2256px #fff,
    783px 1560px #fff, 104px 1088px #fff, 369px 942px #fff, 957px 198px #fff,
    1712px 384px #fff, 1386px 2551px #fff, 70px 113px #fff, 2449px 1045px #fff,
    162px 1211px #fff, 1169px 560px #fff, 2132px 2042px #fff, 1468px 189px #fff,
    1304px 807px #fff, 679px 1009px #fff, 505px 1128px #fff, 1631px 1402px #fff,
    2157px 1297px #fff, 1917px 760px #fff, 360px 1403px #fff, 1131px 1558px #fff,
    545px 488px #fff, 1066px 2493px #fff, 1254px 1742px #fff, 1092px 1865px #fff,
    387px 1735px #fff, 1216px 343px #fff, 2261px 1337px #fff, 1152px 149px #fff,
    598px 2009px #fff, 53px 62px #fff, 2179px 789px #fff, 2553px 1607px #fff,
    2353px 1802px #fff, 2441px 539px #fff, 1497px 2319px #fff,
    2072px 1672px #fff, 1970px 2441px #fff, 2406px 113px #fff,
    1351px 1592px #fff, 1895px 526px #fff, 1853px 202px #fff, 1584px 109px #fff,
    744px 251px #fff, 2064px 359px #fff, 1694px 877px #fff, 1045px 693px #fff,
    2315px 1800px #fff, 1402px 1393px #fff, 528px 326px #fff, 196px 1614px #fff,
    892px 150px #fff, 50px 1880px #fff, 315px 1578px #fff, 2128px 1732px #fff,
    2304px 1811px #fff, 1795px 2544px #fff, 2119px 473px #fff, 238px 514px #fff,
    2518px 2547px #fff, 2249px 2307px #fff, 832px 271px #fff, 529px 2490px #fff,
    1478px 869px #fff, 1507px 242px #fff, 2517px 657px #fff, 2411px 503px #fff,
    846px 1672px #fff, 668px 2436px #fff, 2397px 2002px #fff, 1793px 486px #fff,
    769px 120px #fff, 1732px 1228px #fff, 2257px 400px #fff, 2510px 1309px #fff,
    1504px 60px #fff, 1194px 343px #fff, 148px 2466px #fff, 338px 2304px #fff,
    1027px 654px #fff, 631px 135px #fff, 2016px 1583px #fff, 2100px 1493px #fff,
    1036px 2136px #fff, 1823px 1697px #fff, 1998px 1703px #fff,
    1275px 1128px #fff, 1455px 1455px #fff, 931px 1442px #fff, 485px 496px #fff,
    743px 1511px #fff, 1845px 2363px #fff, 322px 1318px #fff, 2302px 1235px #fff,
    425px 1896px #fff, 1574px 2347px #fff, 881px 184px #fff, 2056px 1545px #fff,
    1673px 2166px #fff, 2348px 1861px #fff, 135px 1689px #fff, 926px 2489px #fff,
    1664px 2246px #fff, 2032px 516px #fff, 211px 1741px #fff, 1280px 2007px #fff,
    321px 152px #fff, 1061px 160px #fff, 1080px 1944px #fff, 38px 2407px #fff,
    2156px 663px #fff, 805px 734px #fff, 2143px 1578px #fff, 1443px 1054px #fff,
    2317px 702px #fff, 917px 558px #fff, 1777px 543px #fff, 1029px 634px #fff,
    1990px 1337px #fff, 858px 1965px #fff, 2418px 120px #fff, 463px 1870px #fff,
    844px 751px #fff, 225px 1812px #fff, 2124px 174px #fff, 1199px 1647px #fff,
    1059px 402px #fff, 1448px 748px #fff, 1537px 2430px #fff, 720px 2032px #fff,
    123px 2281px #fff, 1015px 309px #fff, 733px 2413px #fff, 2425px 777px #fff,
    663px 1006px #fff, 382px 1769px #fff, 1639px 849px #fff, 2018px 239px #fff,
    2118px 1675px #fff, 367px 1212px #fff, 1880px 1798px #fff, 753px 851px #fff,
    1307px 811px #fff, 902px 365px #fff, 1857px 210px #fff, 695px 2182px #fff,
    1626px 1088px #fff, 1325px 6px #fff, 233px 237px #fff, 1707px 1758px #fff,
    2297px 1797px #fff, 2145px 2064px #fff, 2313px 15px #fff, 782px 2420px #fff,
    478px 1535px #fff, 769px 1828px #fff, 1217px 1350px #fff, 1202px 998px #fff,
    1147px 1745px #fff, 1968px 1255px #fff, 86px 890px #fff, 2115px 423px #fff,
    2092px 1342px #fff, 1694px 586px #fff, 1637px 1959px #fff,
    2133px 1681px #fff, 2532px 294px #fff, 2524px 687px #fff, 2345px 747px #fff,
    2036px 2192px #fff, 365px 689px #fff, 454px 1277px #fff, 1834px 2217px #fff,
    1018px 294px #fff, 1059px 928px #fff, 1189px 1234px #fff, 220px 329px #fff,
    1175px 1633px #fff, 610px 1493px #fff, 1528px 754px #fff, 1120px 75px #fff,
    1875px 1699px #fff, 474px 2112px #fff, 938px 1998px #fff, 1010px 2263px #fff,
    1953px 2409px #fff, 1446px 1040px #fff, 560px 1236px #fff,
    2268px 1692px #fff, 2538px 820px #fff, 555px 2043px #fff, 853px 2497px #fff,
    2066px 710px #fff, 948px 1838px #fff, 1067px 2274px #fff, 152px 671px #fff,
    1396px 2417px #fff, 15px 1955px #fff, 2080px 588px #fff, 1880px 392px #fff,
    128px 1371px #fff, 241px 1095px #fff, 831px 85px #fff, 179px 209px #fff,
    815px 176px #fff, 2341px 2154px #fff, 320px 763px #fff, 2451px 1289px #fff,
    186px 2318px #fff, 2277px 1552px #fff, 1069px 1793px #fff, 1314px 49px #fff,
    2209px 2098px #fff, 1692px 1054px #fff, 2121px 1969px #fff,
    2470px 2507px #fff, 183px 2021px #fff, 427px 2452px #fff, 326px 1291px #fff,
    246px 2278px #fff, 47px 684px #fff, 1053px 374px #fff, 2550px 2157px #fff,
    2057px 1744px #fff, 515px 2559px #fff, 1142px 642px #fff, 1807px 1038px #fff,
    1711px 2201px #fff, 875px 1824px #fff, 212px 1730px #fff, 187px 1528px #fff,
    2000px 2142px #fff, 127px 877px #fff, 2028px 2504px #fff, 2284px 492px #fff,
    2025px 1452px #fff, 2429px 836px #fff, 1629px 1726px #fff, 714px 199px #fff,
    2158px 1674px #fff, 1472px 1662px #fff, 958px 1964px #fff,
    2136px 2019px #fff, 345px 2144px #fff, 2065px 978px #fff, 270px 2409px #fff,
    1877px 2236px #fff, 558px 1445px #fff, 998px 1184px #fff, 1230px 1051px #fff,
    1933px 1911px #fff, 1000px 2316px #fff, 428px 674px #fff, 974px 1035px #fff,
    1484px 460px #fff, 1925px 699px #fff, 203px 1551px #fff, 2145px 2309px #fff,
    603px 253px #fff;
  height: 1px;
  width: 1px;
}
.particle-1:after {
  box-shadow: 0 0 #fff, 2469px 1052px #fff, 921px 1011px #fff, 172px 1475px #fff,
    568px 2268px #fff, 2115px 974px #fff, 2207px 289px #fff, 958px 773px #fff,
    2241px 1331px #fff, 2009px 1490px #fff, 1384px 638px #fff, 193px 2343px #fff,
    730px 1551px #fff, 563px 2557px #fff, 618px 497px #fff, 1692px 754px #fff,
    46px 797px #fff, 124px 2007px #fff, 2035px 676px #fff, 393px 2012px #fff,
    407px 2061px #fff, 8px 508px #fff, 1535px 216px #fff, 52px 1303px #fff,
    1528px 928px #fff, 1797px 860px #fff, 964px 1441px #fff, 1986px 1747px #fff,
    1032px 2161px #fff, 238px 2370px #fff, 1886px 1140px #fff,
    1368px 2504px #fff, 55px 1313px #fff, 770px 1812px #fff, 1558px 1368px #fff,
    1469px 1421px #fff, 2548px 694px #fff, 2370px 1842px #fff,
    2353px 1198px #fff, 2499px 23px #fff, 872px 1506px #fff, 430px 2251px #fff,
    1019px 783px #fff, 1804px 1126px #fff, 1069px 84px #fff, 1481px 1322px #fff,
    1311px 292px #fff, 1938px 704px #fff, 1713px 1958px #fff, 554px 2169px #fff,
    817px 455px #fff, 1640px 2031px #fff, 866px 1886px #fff, 1546px 2127px #fff,
    1333px 1057px #fff, 2270px 720px #fff, 101px 2240px #fff, 1455px 920px #fff,
    2508px 2049px #fff, 2231px 825px #fff, 1005px 783px #fff, 125px 2301px #fff,
    1634px 1409px #fff, 2508px 217px #fff, 1383px 1603px #fff,
    2322px 2172px #fff, 1611px 2451px #fff, 2347px 1722px #fff,
    1425px 1462px #fff, 63px 1365px #fff, 908px 1318px #fff, 795px 953px #fff,
    1096px 1342px #fff, 266px 1929px #fff, 118px 1773px #fff, 795px 134px #fff,
    731px 1410px #fff, 1350px 1165px #fff, 1449px 226px #fff, 2380px 1626px #fff,
    1018px 1177px #fff, 1092px 1613px #fff, 190px 1621px #fff, 120px 638px #fff,
    241px 82px #fff, 888px 641px #fff, 2038px 2556px #fff, 1711px 1299px #fff,
    1707px 2308px #fff, 1355px 858px #fff, 1665px 33px #fff, 920px 1782px #fff,
    2390px 1890px #fff, 966px 1912px #fff, 993px 934px #fff, 530px 2324px #fff,
    1151px 1988px #fff, 1473px 2473px #fff, 1323px 1847px #fff,
    934px 1705px #fff, 2382px 181px #fff, 1709px 593px #fff, 736px 2040px #fff,
    1655px 1333px #fff, 824px 581px #fff, 470px 459px #fff, 246px 2083px #fff,
    1624px 386px #fff, 1656px 1945px #fff, 914px 2032px #fff, 1404px 483px #fff,
    1393px 2073px #fff, 2106px 601px #fff, 2437px 640px #fff, 1742px 2406px #fff,
    751px 2551px #fff, 2253px 2035px #fff, 2447px 1112px #fff,
    1934px 2521px #fff, 690px 2296px #fff, 1713px 337px #fff, 2405px 1884px #fff,
    2334px 782px #fff, 404px 1834px #fff, 1923px 1779px #fff, 111px 1345px #fff,
    873px 546px #fff, 1691px 168px #fff, 1461px 184px #fff, 1928px 1699px #fff,
    1246px 975px #fff, 2022px 1619px #fff, 2335px 2113px #fff, 1450px 115px #fff,
    507px 1578px #fff, 91px 957px #fff, 234px 1660px #fff, 1922px 787px #fff,
    926px 1326px #fff, 312px 172px #fff, 803px 2089px #fff, 1275px 1143px #fff,
    1013px 790px #fff, 549px 322px #fff, 2237px 614px #fff, 1384px 31px #fff,
    975px 160px #fff, 2118px 665px #fff, 1376px 2022px #fff, 1895px 545px #fff,
    638px 93px #fff, 1605px 1584px #fff, 1776px 2346px #fff, 1208px 548px #fff,
    492px 631px #fff, 446px 395px #fff, 2421px 1686px #fff, 593px 497px #fff,
    1811px 1428px #fff, 1185px 1267px #fff, 1924px 1897px #fff,
    2035px 1370px #fff, 1293px 2399px #fff, 283px 1146px #fff,
    2264px 1497px #fff, 1243px 1129px #fff, 1272px 625px #fff,
    1081px 1366px #fff, 599px 1718px #fff, 2044px 370px #fff, 348px 119px #fff,
    492px 836px #fff, 1362px 1376px #fff, 203px 1014px #fff, 1714px 1676px #fff,
    575px 1933px #fff, 237px 772px #fff, 889px 1000px #fff, 779px 544px #fff,
    2495px 16px #fff, 1460px 153px #fff, 2317px 1248px #fff, 1168px 875px #fff,
    2543px 59px #fff, 834px 1px #fff, 1878px 1319px #fff, 292px 581px #fff,
    1436px 564px #fff, 1831px 1730px #fff, 1060px 831px #fff, 83px 2032px #fff,
    363px 1025px #fff, 744px 1276px #fff, 2310px 1328px #fff, 1286px 1146px #fff,
    62px 741px #fff, 112px 1096px #fff, 1388px 403px #fff, 2123px 2346px #fff,
    1679px 854px #fff, 1957px 200px #fff, 1987px 1087px #fff, 12px 172px #fff,
    60px 1207px #fff, 2414px 544px #fff, 1742px 2456px #fff, 1918px 2138px #fff,
    1370px 337px #fff, 1408px 254px #fff, 662px 501px #fff, 784px 1534px #fff,
    2311px 155px #fff, 1671px 1807px #fff, 2184px 1133px #fff, 96px 2538px #fff,
    476px 1675px #fff, 1699px 848px #fff, 1770px 1304px #fff, 1519px 96px #fff,
    2232px 1793px #fff, 49px 526px #fff, 2197px 667px #fff, 1125px 1324px #fff,
    184px 1339px #fff, 1099px 318px #fff, 1643px 2233px #fff, 2319px 603px #fff,
    149px 1069px #fff, 2257px 1951px #fff, 1880px 1880px #fff,
    1552px 2469px #fff, 2438px 1285px #fff, 1796px 448px #fff, 12px 502px #fff,
    433px 885px #fff, 671px 1574px #fff, 1957px 2524px #fff, 1929px 805px #fff,
    461px 1561px #fff, 666px 1492px #fff, 2343px 2457px #fff, 522px 1060px #fff,
    1321px 2234px #fff, 906px 2189px #fff, 46px 2218px #fff, 844px 88px #fff,
    2108px 1456px #fff, 1121px 2399px #fff, 2021px 2099px #fff,
    2153px 1777px #fff, 794px 1604px #fff, 1323px 2087px #fff,
    1539px 1902px #fff, 1556px 1670px #fff, 2111px 633px #fff, 169px 134px #fff,
    933px 214px #fff, 1421px 1608px #fff, 1497px 2264px #fff, 1923px 741px #fff,
    1570px 2234px #fff, 2094px 2278px #fff, 2017px 2384px #fff,
    201px 1886px #fff, 2211px 318px #fff, 1142px 1953px #fff, 81px 1800px #fff,
    1560px 415px #fff, 674px 333px #fff, 1963px 618px #fff, 1448px 2233px #fff,
    832px 1115px #fff, 948px 2253px #fff, 745px 147px #fff, 1103px 1872px #fff,
    547px 1268px #fff, 1962px 2202px #fff, 1158px 103px #fff, 1137px 2176px #fff,
    599px 1418px #fff, 1996px 1386px #fff, 848px 2431px #fff, 959px 994px #fff,
    1278px 2059px #fff, 1506px 1748px #fff, 214px 1978px #fff, 1944px 786px #fff,
    2082px 1137px #fff, 2554px 2232px #fff, 1361px 2213px #fff,
    2457px 199px #fff, 1764px 1429px #fff, 2386px 141px #fff, 477px 250px #fff,
    1953px 2543px #fff, 905px 1294px #fff, 1891px 381px #fff, 1808px 2296px #fff,
    2555px 1925px #fff, 2336px 178px #fff, 1002px 432px #fff, 2296px 2184px #fff,
    502px 1418px #fff, 2062px 2362px #fff, 1490px 488px #fff, 1613px 859px #fff,
    434px 2295px #fff, 1043px 1767px #fff, 1243px 1351px #fff, 409px 2022px #fff,
    761px 1027px #fff, 2310px 777px #fff, 1568px 1637px #fff, 2061px 1646px #fff,
    1043px 2326px #fff, 738px 783px #fff, 2062px 79px #fff, 1722px 868px #fff,
    1511px 1516px #fff, 2264px 310px #fff, 40px 2390px #fff, 1698px 1197px #fff,
    2430px 604px #fff, 2249px 1166px #fff, 2449px 223px #fff, 1948px 2529px #fff,
    639px 1911px #fff, 1587px 1983px #fff, 2041px 1298px #fff, 2285px 243px #fff,
    1667px 1228px #fff, 559px 2229px #fff, 2391px 1704px #fff,
    1934px 1519px #fff, 2328px 1124px #fff, 2319px 1674px #fff,
    117px 2210px #fff, 816px 423px #fff, 2370px 283px #fff, 837px 2164px #fff,
    1460px 1894px #fff, 2450px 1379px #fff, 436px 1036px #fff, 2218px 63px #fff,
    2005px 993px #fff, 1705px 1356px #fff, 1080px 1601px #fff, 97px 324px #fff,
    2047px 543px #fff, 687px 1884px #fff, 1938px 2217px #fff, 1799px 1281px #fff,
    1778px 25px #fff, 794px 1534px #fff, 1330px 1249px #fff, 2463px 1227px #fff,
    304px 1860px #fff, 2257px 1093px #fff, 2480px 1233px #fff, 804px 2394px #fff,
    1409px 1676px #fff, 2275px 1045px #fff, 1312px 1777px #fff,
    857px 2156px #fff, 663px 448px #fff, 2083px 1639px #fff, 942px 966px #fff,
    362px 2207px #fff, 1129px 2451px #fff, 1523px 1036px #fff, 800px 2499px #fff,
    292px 2420px #fff, 778px 2110px #fff, 1327px 115px #fff, 1643px 1609px #fff,
    2248px 2123px #fff, 2012px 1761px #fff, 2323px 1283px #fff,
    1301px 274px #fff, 2083px 837px #fff, 2360px 1774px #fff, 814px 2541px #fff,
    1775px 1805px #fff, 1062px 1076px #fff, 1542px 389px #fff, 322px 1463px #fff,
    1351px 1078px #fff, 1151px 2103px #fff, 851px 124px #fff, 190px 1158px #fff,
    1948px 951px #fff, 686px 1928px #fff, 244px 48px #fff, 56px 819px #fff,
    41px 2532px #fff, 1248px 1556px #fff, 1822px 545px #fff, 2536px 2442px #fff,
    1257px 661px #fff, 2132px 1144px #fff, 1909px 1349px #fff,
    1103px 2232px #fff, 2083px 281px #fff, 2086px 2046px #fff, 2188px 800px #fff,
    2173px 1278px #fff, 1664px 1955px #fff, 2397px 86px #fff, 926px 2092px #fff,
    361px 244px #fff, 2507px 1702px #fff, 1016px 606px #fff, 399px 86px #fff,
    692px 2027px #fff, 1063px 959px #fff, 2056px 2208px #fff, 2406px 2243px #fff,
    1227px 1456px #fff, 2381px 128px #fff, 221px 1922px #fff, 1873px 1402px #fff,
    518px 127px #fff, 2528px 2207px #fff, 1395px 916px #fff, 585px 360px #fff,
    2160px 245px #fff, 306px 2497px #fff, 1763px 344px #fff, 2196px 1277px #fff,
    266px 1185px #fff, 2043px 1648px #fff, 2170px 757px #fff, 2525px 560px #fff,
    162px 1109px #fff, 1872px 404px #fff, 2459px 1275px #fff, 1144px 662px #fff,
    1833px 1164px #fff, 1656px 2027px #fff, 670px 1789px #fff,
    1740px 2340px #fff, 2014px 1885px #fff, 1047px 607px #fff, 124px 171px #fff,
    1330px 2100px #fff, 639px 892px #fff, 666px 1622px #fff, 1912px 1147px #fff,
    219px 1482px #fff, 1177px 1815px #fff, 1620px 1412px #fff, 2450px 621px #fff,
    1263px 1717px #fff, 852px 577px #fff, 2175px 1066px #fff, 1836px 556px #fff,
    482px 1962px #fff, 1811px 334px #fff, 1767px 1904px #fff, 925px 287px #fff,
    108px 1521px #fff, 2288px 1100px #fff, 876px 991px #fff, 877px 2239px #fff,
    946px 1007px #fff, 635px 365px #fff, 17px 655px #fff, 2437px 2299px #fff,
    299px 1642px #fff, 137px 1947px #fff, 2272px 1723px #fff, 2491px 1268px #fff,
    497px 1252px #fff, 856px 1298px #fff, 1237px 1454px #fff, 1385px 1560px #fff,
    1718px 2312px #fff, 392px 2365px #fff, 213px 77px #fff, 184px 1967px #fff,
    2088px 1741px #fff, 777px 1703px #fff, 1664px 2555px #fff, 249px 2366px #fff,
    1676px 1760px #fff, 2093px 2019px #fff, 2511px 2002px #fff, 82px 555px #fff,
    1063px 189px #fff, 2440px 1650px #fff, 2169px 413px #fff, 2261px 1304px #fff,
    2283px 829px #fff, 2354px 243px #fff, 949px 14px #fff, 757px 377px #fff,
    1516px 1912px #fff, 565px 2092px #fff, 488px 554px #fff, 954px 1863px #fff,
    1021px 1004px #fff, 882px 1864px #fff, 1599px 1499px #fff, 456px 1097px #fff,
    946px 2049px #fff, 2396px 471px #fff, 1203px 2072px #fff, 1782px 806px #fff,
    2161px 2063px #fff, 1055px 257px #fff, 2553px 98px #fff, 2097px 2448px #fff,
    953px 2225px #fff, 880px 513px #fff, 2461px 1490px #fff, 1885px 1495px #fff,
    357px 531px #fff, 1459px 368px #fff, 734px 330px #fff, 1732px 1530px #fff,
    1795px 4px #fff, 1133px 1255px #fff, 1429px 275px #fff, 2493px 1083px #fff,
    1922px 19px #fff, 852px 690px #fff, 1423px 2386px #fff, 2473px 1090px #fff,
    953px 531px #fff, 1394px 1444px #fff, 1665px 1584px #fff, 1171px 1838px #fff,
    2234px 1265px #fff, 2382px 2154px #fff, 2419px 2212px #fff,
    130px 1172px #fff, 2526px 743px #fff, 1475px 1743px #fff, 1475px 2291px #fff,
    934px 2128px #fff, 1021px 1396px #fff, 482px 2376px #fff, 580px 273px #fff,
    2543px 613px #fff, 1064px 184px #fff, 2073px 996px #fff, 660px 2305px #fff,
    1891px 313px #fff, 584px 1358px #fff, 934px 635px #fff, 752px 1359px #fff,
    1133px 1356px #fff, 2368px 1789px #fff, 574px 452px #fff, 1582px 380px #fff,
    34px 1744px #fff, 1197px 2356px #fff, 2496px 699px #fff, 45px 2115px #fff,
    2534px 1864px #fff, 2425px 1706px #fff, 2083px 1468px #fff,
    2470px 958px #fff, 126px 1708px #fff, 1741px 1450px #fff, 646px 2312px #fff,
    1518px 2169px #fff, 2199px 2085px #fff, 2036px 817px #fff, 587px 1996px #fff,
    221px 612px #fff, 1463px 1027px #fff, 1886px 2309px #fff, 1582px 2005px #fff,
    1920px 703px #fff, 1156px 1851px #fff, 454px 2166px #fff, 2412px 1605px #fff,
    162px 1184px #fff, 1739px 534px #fff, 346px 2373px #fff, 869px 633px #fff,
    2462px 1329px #fff, 1262px 372px #fff, 1174px 1621px #fff, 2452px 887px #fff,
    689px 2466px #fff, 1508px 100px #fff, 2374px 738px #fff, 1527px 2232px #fff,
    82px 1705px #fff, 1760px 1032px #fff, 1928px 2016px #fff, 2334px 1151px #fff,
    1120px 137px #fff, 1799px 650px #fff, 778px 2109px #fff, 2084px 2094px #fff,
    510px 2406px #fff, 1718px 412px #fff, 1042px 306px #fff;
  height: 1px;
  width: 1px;
}
.particle-2 {
  animation: animParticle 120s linear infinite;
  box-shadow: 0 0 #fff, 852px 1758px #fff, 1142px 1656px #fff, 586px 1699px #fff,
    2224px 1619px #fff, 524px 498px #fff, 1648px 1476px #fff, 1668px 2451px #fff,
    2000px 2272px #fff, 619px 2314px #fff, 2133px 2558px #fff, 1294px 849px #fff,
    1351px 1515px #fff, 420px 2242px #fff, 2148px 2357px #fff,
    1946px 1616px #fff, 1328px 2234px #fff, 2424px 835px #fff,
    1941px 1137px #fff, 1774px 1138px #fff, 714px 471px #fff, 13px 236px #fff,
    812px 1550px #fff, 1647px 1436px #fff, 829px 2538px #fff, 1337px 2016px #fff,
    1496px 1521px #fff, 1386px 757px #fff, 1775px 899px #fff, 1946px 2378px #fff,
    802px 667px #fff, 238px 67px #fff, 2375px 1000px #fff, 230px 2106px #fff,
    1496px 442px #fff, 1430px 1202px #fff, 378px 2305px #fff, 1512px 344px #fff,
    2497px 1341px #fff, 1579px 2173px #fff, 1039px 844px #fff,
    1138px 2324px #fff, 2101px 1179px #fff, 1379px 2032px #fff,
    1409px 1374px #fff, 515px 970px #fff, 941px 363px #fff, 2302px 541px #fff,
    1430px 798px #fff, 1527px 779px #fff, 2487px 1287px #fff, 1000px 1485px #fff,
    123px 2237px #fff, 1754px 2519px #fff, 1988px 1326px #fff, 987px 1163px #fff,
    2049px 1178px #fff, 2180px 2424px #fff, 1574px 112px #fff, 1632px 383px #fff,
    1575px 864px #fff, 1294px 1985px #fff, 738px 2472px #fff, 2402px 2065px #fff,
    163px 328px #fff, 2164px 886px #fff, 999px 2272px #fff, 329px 326px #fff,
    572px 283px #fff, 958px 1802px #fff, 1439px 460px #fff, 751px 1217px #fff,
    2166px 235px #fff, 1060px 787px #fff, 215px 420px #fff, 1902px 2095px #fff,
    1293px 2040px #fff, 75px 2521px #fff, 1998px 1871px #fff, 218px 520px #fff,
    584px 876px #fff, 508px 1345px #fff, 1686px 1155px #fff, 891px 2280px #fff,
    1999px 861px #fff, 2131px 1060px #fff, 275px 1912px #fff, 1814px 638px #fff,
    48px 1158px #fff, 683px 1156px #fff, 509px 1520px #fff, 710px 635px #fff,
    367px 2407px #fff, 2199px 2506px #fff, 2522px 2109px #fff, 2041px 182px #fff,
    997px 307px #fff, 452px 1792px #fff, 1677px 1195px #fff, 1184px 2055px #fff,
    2209px 1666px #fff, 2343px 1281px #fff, 966px 1719px #fff,
    1158px 1739px #fff, 14px 2481px #fff, 2085px 1868px #fff, 1518px 1063px #fff,
    2157px 1271px #fff, 69px 1270px #fff, 326px 993px #fff, 1657px 528px #fff,
    87px 1614px #fff, 800px 2174px #fff, 1912px 1116px #fff, 761px 1212px #fff,
    1830px 474px #fff, 2388px 2252px #fff, 1872px 421px #fff, 1675px 1478px #fff,
    1725px 633px #fff, 1881px 141px #fff, 1568px 895px #fff, 1248px 44px #fff,
    2318px 1526px #fff, 332px 2384px #fff, 939px 848px #fff, 1578px 536px #fff,
    1617px 343px #fff, 1192px 1384px #fff, 362px 2471px #fff, 2102px 246px #fff,
    65px 1385px #fff, 2549px 1138px #fff, 481px 448px #fff, 1878px 667px #fff,
    221px 1405px #fff, 2552px 566px #fff, 1481px 1261px #fff, 82px 1498px #fff,
    2263px 1979px #fff, 800px 2123px #fff, 1147px 204px #fff, 782px 703px #fff,
    2370px 1020px #fff, 2423px 1498px #fff, 1199px 1538px #fff,
    1562px 2486px #fff, 2448px 692px #fff, 2414px 627px #fff, 270px 160px #fff,
    594px 959px #fff, 178px 1073px #fff, 1240px 1163px #fff, 2551px 563px #fff,
    1810px 1034px #fff, 273px 1073px #fff, 1704px 1250px #fff, 500px 114px #fff,
    1602px 2083px #fff, 2120px 2013px #fff, 80px 2339px #fff, 1187px 1123px #fff,
    1517px 1481px #fff, 2537px 1160px #fff, 907px 896px #fff, 1799px 2082px #fff,
    1440px 298px #fff, 203px 274px #fff, 334px 1274px #fff, 331px 114px #fff,
    2139px 949px #fff, 1568px 1563px #fff, 259px 2126px #fff, 1659px 1098px #fff,
    2377px 877px #fff, 1535px 1074px #fff, 1304px 186px #fff, 2236px 966px #fff,
    1764px 482px #fff, 1693px 1798px #fff, 565px 1193px #fff, 2541px 2377px #fff,
    2536px 1767px #fff, 2150px 346px #fff, 51px 2203px #fff, 100px 1560px #fff,
    1649px 1579px #fff, 211px 129px #fff, 1118px 889px #fff, 2335px 2360px #fff,
    1853px 1472px #fff, 2135px 1859px #fff, 1941px 457px #fff, 1809px 250px #fff,
    1532px 127px #fff, 2499px 374px #fff, 954px 651px #fff, 710px 775px #fff,
    1405px 1546px #fff, 2108px 1104px #fff, 482px 2326px #fff;
  height: 2px;
  width: 2px;
}
.particle-2:after {
  box-shadow: 0 0 #fff, 1734px 2160px #fff, 2095px 880px #fff, 119px 712px #fff,
    581px 300px #fff, 178px 2529px #fff, 1307px 1887px #fff, 172px 2320px #fff,
    2465px 353px #fff, 1616px 505px #fff, 1116px 1099px #fff, 711px 964px #fff,
    834px 160px #fff, 1359px 621px #fff, 363px 1040px #fff, 812px 485px #fff,
    1624px 1604px #fff, 1976px 73px #fff, 12px 1446px #fff, 2499px 2410px #fff,
    403px 178px #fff, 542px 1823px #fff, 2092px 1459px #fff, 867px 1844px #fff,
    430px 1296px #fff, 23px 498px #fff, 2378px 1529px #fff, 1555px 335px #fff,
    1228px 1450px #fff, 1273px 1651px #fff, 2275px 495px #fff,
    1421px 1066px #fff, 2287px 585px #fff, 1556px 1916px #fff, 487px 1114px #fff,
    334px 1988px #fff, 1311px 1465px #fff, 5px 275px #fff, 585px 1069px #fff,
    559px 2347px #fff, 2224px 2428px #fff, 1204px 925px #fff, 1001px 798px #fff,
    1862px 452px #fff, 2057px 523px #fff, 1617px 1389px #fff, 705px 31px #fff,
    945px 313px #fff, 1650px 1635px #fff, 58px 1042px #fff, 190px 1186px #fff,
    1887px 2425px #fff, 880px 1282px #fff, 1189px 1646px #fff,
    1802px 1180px #fff, 101px 441px #fff, 652px 2270px #fff, 1559px 1329px #fff,
    1016px 387px #fff, 1855px 1646px #fff, 2445px 571px #fff, 1286px 579px #fff,
    1794px 978px #fff, 1527px 896px #fff, 354px 1932px #fff, 1035px 1433px #fff,
    1529px 1439px #fff, 1400px 82px #fff, 1331px 1681px #fff, 1127px 1774px #fff,
    1445px 2356px #fff, 1058px 1182px #fff, 1865px 1761px #fff,
    1830px 859px #fff, 2184px 1304px #fff, 1294px 1531px #fff, 1680px 692px #fff,
    1581px 31px #fff, 511px 2011px #fff, 1730px 373px #fff, 986px 2337px #fff,
    405px 1137px #fff, 637px 416px #fff, 1197px 103px #fff, 1215px 114px #fff,
    652px 696px #fff, 715px 472px #fff, 1173px 2498px #fff, 1708px 462px #fff,
    46px 655px #fff, 962px 1523px #fff, 518px 1085px #fff, 2485px 2497px #fff,
    1592px 1793px #fff, 148px 40px #fff, 1126px 246px #fff, 579px 1749px #fff,
    427px 2277px #fff, 936px 1229px #fff, 637px 2449px #fff, 665px 340px #fff,
    928px 1543px #fff, 1404px 296px #fff, 1478px 349px #fff, 2549px 1802px #fff,
    1468px 1431px #fff, 831px 2445px #fff, 494px 596px #fff, 239px 973px #fff,
    984px 432px #fff, 1309px 724px #fff, 2251px 424px #fff, 449px 95px #fff,
    1313px 486px #fff, 1397px 2435px #fff, 1398px 2166px #fff, 1269px 848px #fff,
    1501px 770px #fff, 2364px 251px #fff, 1441px 1766px #fff, 53px 987px #fff,
    432px 1174px #fff, 1637px 2350px #fff, 2438px 998px #fff, 1808px 121px #fff,
    1083px 303px #fff, 979px 2218px #fff, 1997px 179px #fff, 2525px 1380px #fff,
    2135px 987px #fff, 864px 1979px #fff, 1434px 1481px #fff, 573px 57px #fff,
    1623px 1486px #fff, 1253px 852px #fff, 51px 1164px #fff, 1331px 2537px #fff,
    2548px 830px #fff, 1653px 646px #fff, 1302px 1626px #fff, 2337px 1189px #fff,
    896px 211px #fff, 206px 1888px #fff, 1637px 529px #fff, 966px 879px #fff,
    820px 2299px #fff, 463px 1356px #fff, 737px 416px #fff, 551px 456px #fff,
    234px 963px #fff, 1372px 1368px #fff, 1752px 2364px #fff, 1684px 309px #fff,
    1871px 1991px #fff, 29px 2053px #fff, 2114px 887px #fff, 2281px 1691px #fff,
    52px 1319px #fff, 293px 724px #fff, 2244px 262px #fff, 1433px 1283px #fff,
    2151px 337px #fff, 49px 2478px #fff, 302px 932px #fff, 2064px 815px #fff,
    464px 1238px #fff, 665px 2155px #fff, 1705px 1195px #fff, 1994px 2408px #fff,
    1062px 187px #fff, 1711px 443px #fff, 1017px 1689px #fff, 1619px 308px #fff,
    1598px 1050px #fff, 2040px 298px #fff, 2518px 1543px #fff, 661px 1194px #fff,
    25px 739px #fff, 1436px 2100px #fff, 960px 322px #fff, 1406px 1380px #fff,
    34px 1135px #fff, 432px 604px #fff, 2339px 1309px #fff, 1914px 1063px #fff,
    1883px 161px #fff, 1035px 2532px #fff, 1555px 2148px #fff, 2029px 846px #fff,
    1166px 1584px #fff, 677px 687px #fff, 2139px 734px #fff, 482px 1664px #fff,
    194px 665px #fff, 64px 1827px #fff, 1915px 1623px #fff, 1498px 1274px #fff,
    374px 788px #fff, 757px 2282px #fff, 2538px 2160px #fff, 2046px 1992px #fff;
  height: 2px;
  width: 2px;
}
.particle-3 {
  animation: animParticle 180s linear infinite;
  box-shadow: 0 0 #fff, 19px 1958px #fff, 1839px 998px #fff, 1673px 366px #fff,
    1602px 1357px #fff, 950px 1115px #fff, 527px 610px #fff, 659px 1613px #fff,
    804px 2069px #fff, 853px 1454px #fff, 1178px 2363px #fff, 1732px 1372px #fff,
    2194px 1200px #fff, 4px 1098px #fff, 1191px 1516px #fff, 682px 2104px #fff,
    1881px 2531px #fff, 2333px 56px #fff, 2284px 2150px #fff, 1560px 633px #fff,
    2061px 2009px #fff, 273px 1188px #fff, 2492px 1965px #fff,
    1217px 2427px #fff, 715px 1294px #fff, 1732px 264px #fff, 1730px 1113px #fff,
    1425px 1495px #fff, 1849px 509px #fff, 2227px 801px #fff, 1237px 205px #fff,
    1141px 1457px #fff, 2490px 1065px #fff, 1022px 1599px #fff,
    1283px 1365px #fff, 2125px 655px #fff, 417px 1983px #fff, 1204px 303px #fff,
    1013px 1470px #fff, 2320px 2269px #fff, 281px 1631px #fff,
    1166px 2012px #fff, 2109px 1423px #fff, 82px 333px #fff, 1579px 159px #fff,
    145px 2496px #fff, 2460px 698px #fff, 317px 2018px #fff, 402px 588px #fff,
    76px 2149px #fff, 1482px 149px #fff, 278px 308px #fff, 1265px 86px #fff,
    120px 1601px #fff, 2120px 2106px #fff, 2132px 1009px #fff,
    1522px 1953px #fff, 1481px 1417px #fff, 1390px 1055px #fff,
    1754px 126px #fff, 2341px 1949px #fff, 1933px 1224px #fff,
    1977px 1437px #fff, 1528px 919px #fff, 1514px 30px #fff, 574px 879px #fff,
    1984px 522px #fff, 137px 819px #fff, 1605px 2113px #fff, 752px 1806px #fff,
    511px 1152px #fff, 1939px 1760px #fff, 623px 132px #fff, 945px 1472px #fff,
    1767px 209px #fff, 2050px 173px #fff, 1360px 485px #fff, 1372px 1818px #fff,
    903px 2269px #fff, 649px 1976px #fff, 726px 416px #fff, 1350px 584px #fff,
    1345px 533px #fff, 415px 1651px #fff, 1518px 342px #fff, 1778px 2074px #fff,
    454px 270px #fff, 1188px 969px #fff, 101px 525px #fff, 587px 1278px #fff,
    680px 1856px #fff, 1772px 1318px #fff, 2369px 2239px #fff, 2072px 654px #fff,
    1531px 338px #fff, 1043px 1122px #fff, 665px 2330px #fff, 206px 1771px #fff,
    467px 871px #fff, 308px 176px #fff, 1015px 2488px #fff;
  height: 3px;
  width: 3px;
}
.particle-3:after {
  box-shadow: 0 0 #fff, 2033px 2107px #fff, 2341px 1873px #fff,
    1555px 2492px #fff, 2507px 611px #fff, 1944px 1206px #fff, 36px 2506px #fff,
    99px 373px #fff, 31px 1483px #fff, 412px 223px #fff, 2527px 1430px #fff,
    1628px 267px #fff, 1228px 225px #fff, 123px 227px #fff, 329px 2406px #fff,
    1778px 1555px #fff, 1603px 1012px #fff, 2003px 1062px #fff,
    1783px 705px #fff, 93px 807px #fff, 2061px 1287px #fff, 1122px 2043px #fff,
    1627px 776px #fff, 883px 556px #fff, 2473px 1511px #fff, 2176px 118px #fff,
    1340px 1795px #fff, 389px 2410px #fff, 983px 737px #fff, 952px 2337px #fff,
    1041px 215px #fff, 885px 542px #fff, 220px 1196px #fff, 344px 1660px #fff,
    1912px 2498px #fff, 1776px 2056px #fff, 1383px 845px #fff,
    1234px 1817px #fff, 1446px 2014px #fff, 2464px 1142px #fff,
    1789px 2059px #fff, 2462px 1076px #fff, 2521px 2263px #fff,
    611px 1845px #fff, 1392px 377px #fff, 1725px 121px #fff, 2007px 291px #fff,
    2148px 559px #fff, 477px 795px #fff, 75px 1099px #fff, 212px 823px #fff,
    1998px 2433px #fff, 1650px 1320px #fff, 2008px 1779px #fff,
    444px 1233px #fff, 998px 556px #fff, 2169px 966px #fff, 1465px 356px #fff,
    1674px 613px #fff, 2078px 2260px #fff, 1123px 383px #fff, 1388px 2257px #fff,
    116px 151px #fff, 72px 177px #fff, 160px 349px #fff, 432px 1894px #fff,
    798px 148px #fff, 609px 2140px #fff, 2377px 1815px #fff, 1399px 444px #fff,
    618px 219px #fff, 207px 392px #fff, 175px 1511px #fff, 1571px 1707px #fff,
    546px 2055px #fff, 1183px 695px #fff, 1020px 2284px #fff, 2537px 334px #fff,
    168px 2335px #fff, 1851px 2289px #fff, 623px 2167px #fff, 135px 379px #fff,
    1165px 1665px #fff, 1353px 879px #fff, 1543px 589px #fff, 1541px 1687px #fff,
    2298px 915px #fff, 1865px 1448px #fff, 1168px 1545px #fff, 1722px 845px #fff,
    2334px 44px #fff, 1896px 300px #fff, 2040px 1973px #fff, 1833px 934px #fff,
    1972px 1416px #fff, 1574px 2177px #fff, 1188px 2096px #fff, 29px 2375px #fff,
    552px 2522px #fff, 1534px 1039px #fff, 643px 367px #fff;
  height: 3px;
  width: 3px;
}
.particle-4 {
  animation: animParticle 600s linear infinite;
  box-shadow: 0 0 #fff, 1827px 1901px #fff, 927px 1076px #fff, 391px 2159px #fff,
    741px 1694px #fff, 562px 472px #fff, 1557px 508px #fff, 2178px 1636px #fff,
    1344px 679px #fff, 2104px 1880px #fff, 1150px 116px #fff, 1890px 69px #fff,
    273px 2432px #fff, 429px 1288px #fff, 159px 1468px #fff, 935px 2031px #fff,
    232px 437px #fff, 2384px 1865px #fff, 1168px 2354px #fff, 433px 1536px #fff,
    1406px 1537px #fff, 55px 2397px #fff, 1208px 1888px #fff, 174px 665px #fff,
    1798px 830px #fff, 1568px 24px #fff, 1139px 702px #fff, 853px 766px #fff,
    690px 1741px #fff, 1802px 1380px #fff, 2067px 1218px #fff, 684px 67px #fff,
    1391px 1px #fff, 1563px 573px #fff, 384px 1325px #fff, 1511px 239px #fff,
    2345px 2221px #fff, 1097px 1905px #fff, 825px 333px #fff, 439px 1473px #fff,
    1207px 2237px #fff, 1341px 713px #fff, 870px 1298px #fff, 909px 405px #fff,
    741px 1187px #fff, 2236px 636px #fff, 916px 2126px #fff, 2462px 2231px #fff,
    988px 1719px #fff, 25px 1654px #fff, 2189px 411px #fff, 1951px 1944px #fff,
    36px 242px #fff, 2029px 398px #fff, 729px 1083px #fff, 1562px 851px #fff,
    902px 1577px #fff, 2511px 2331px #fff, 312px 1308px #fff, 211px 28px #fff,
    858px 1863px #fff, 401px 1859px #fff, 908px 1050px #fff, 2051px 1561px #fff,
    1798px 1270px #fff, 1869px 947px #fff, 2383px 921px #fff, 392px 1061px #fff,
    978px 1467px #fff, 770px 1554px #fff, 1861px 575px #fff, 1152px 612px #fff,
    956px 577px #fff, 1101px 1369px #fff, 1153px 1990px #fff, 947px 1268px #fff,
    2532px 1549px #fff, 1005px 999px #fff, 2537px 704px #fff, 270px 1977px #fff,
    2540px 466px #fff, 184px 561px #fff, 784px 1928px #fff, 2534px 1071px #fff,
    768px 1656px #fff, 1094px 2203px #fff, 2013px 2352px #fff, 298px 541px #fff,
    470px 602px #fff, 545px 198px #fff, 112px 944px #fff, 744px 430px #fff,
    1961px 2454px #fff, 283px 372px #fff, 607px 695px #fff, 693px 786px #fff,
    1038px 489px #fff, 1251px 395px #fff, 1659px 846px #fff, 2293px 2059px #fff,
    2385px 2414px #fff, 2492px 1498px #fff, 2497px 1231px #fff,
    740px 2474px #fff, 2358px 295px #fff, 1444px 2417px #fff, 1792px 750px #fff,
    855px 1993px #fff, 2320px 1419px #fff, 2482px 1919px #fff, 1327px 764px #fff,
    378px 654px #fff, 622px 1120px #fff, 627px 1511px #fff, 802px 687px #fff,
    10px 2001px #fff, 571px 1614px #fff, 1280px 242px #fff, 2406px 689px #fff,
    2020px 1185px #fff, 675px 1023px #fff, 1644px 1443px #fff,
    1562px 2188px #fff, 2393px 221px #fff, 564px 2514px #fff, 1017px 1249px #fff,
    2091px 1989px #fff, 2156px 1960px #fff, 633px 10px #fff, 83px 1740px #fff,
    2227px 2133px #fff, 2095px 501px #fff, 635px 1383px #fff, 2031px 2500px #fff,
    1502px 1312px #fff, 2002px 2368px #fff, 91px 204px #fff, 1561px 1151px #fff,
    2404px 607px #fff, 1638px 1148px #fff, 894px 1150px #fff, 1945px 227px #fff,
    1404px 2470px #fff, 72px 2072px #fff, 1830px 1157px #fff, 909px 6px #fff,
    345px 291px #fff, 2455px 1122px #fff, 1600px 1714px #fff, 770px 1750px #fff,
    106px 1226px #fff, 2544px 1514px #fff, 588px 53px #fff, 2445px 2335px #fff,
    819px 2500px #fff, 407px 1664px #fff, 2092px 2117px #fff, 2286px 2317px #fff,
    772px 2257px #fff, 2038px 1762px #fff, 72px 376px #fff, 301px 1267px #fff,
    1666px 2465px #fff, 96px 1356px #fff, 1463px 188px #fff, 2413px 1123px #fff,
    102px 189px #fff, 2026px 1534px #fff, 1102px 2346px #fff, 851px 3px #fff,
    1976px 861px #fff, 1288px 1659px #fff, 1438px 2497px #fff, 731px 2071px #fff,
    663px 453px #fff, 1620px 963px #fff, 1669px 456px #fff, 1673px 321px #fff,
    1458px 2266px #fff, 1364px 2513px #fff, 704px 1124px #fff,
    1941px 1239px #fff, 21px 1213px #fff, 1054px 1992px #fff, 1658px 2116px #fff,
    940px 1871px #fff, 1537px 1317px #fff, 901px 387px #fff, 2256px 679px #fff,
    486px 1784px #fff, 74px 950px #fff, 1237px 355px #fff, 1256px 652px #fff,
    1637px 1302px #fff, 2530px 710px #fff, 2432px 1312px #fff, 940px 1073px #fff,
    713px 310px #fff, 150px 1712px #fff, 1436px 2274px #fff, 2266px 518px #fff,
    1442px 1766px #fff, 685px 509px #fff, 1089px 2151px #fff, 2343px 1051px #fff,
    1425px 83px #fff, 235px 1572px #fff, 1556px 1618px #fff, 1589px 892px #fff,
    2227px 805px #fff, 1930px 1773px #fff, 2064px 2541px #fff, 724px 2283px #fff,
    1434px 399px #fff, 1801px 991px #fff, 1719px 749px #fff, 2278px 2293px #fff,
    1953px 1983px #fff, 816px 264px #fff, 1191px 794px #fff, 2159px 1095px #fff,
    1476px 2042px #fff, 442px 1076px #fff, 1593px 953px #fff, 2223px 949px #fff,
    1782px 1627px #fff, 2553px 2107px #fff, 1638px 1828px #fff,
    1165px 964px #fff, 792px 1384px #fff, 462px 1055px #fff, 1722px 1614px #fff,
    135px 899px #fff, 1645px 1866px #fff, 1975px 2071px #fff, 1891px 2334px #fff,
    1837px 875px #fff, 1401px 2337px #fff, 2521px 796px #fff, 116px 1352px #fff,
    1138px 562px #fff, 2012px 54px #fff, 1331px 2527px #fff, 656px 1180px #fff,
    210px 1835px #fff, 2471px 162px #fff, 933px 1261px #fff, 620px 490px #fff,
    1655px 1907px #fff, 1394px 417px #fff, 2535px 867px #fff, 2080px 1105px #fff,
    395px 1354px #fff, 1287px 2508px #fff, 36px 370px #fff, 1167px 1261px #fff,
    1303px 2465px #fff, 1817px 1996px #fff, 947px 1066px #fff,
    2236px 2482px #fff, 394px 2352px #fff, 193px 533px #fff, 207px 1207px #fff,
    103px 1084px #fff, 2329px 1786px #fff, 1537px 339px #fff, 703px 1897px #fff,
    2235px 2348px #fff, 894px 972px #fff, 1806px 2408px #fff, 1335px 399px #fff,
    1488px 2419px #fff, 2526px 1622px #fff, 1834px 829px #fff,
    2344px 2528px #fff, 1427px 2262px #fff, 419px 1815px #fff, 478px 857px #fff,
    1126px 1407px #fff, 215px 1977px #fff, 2215px 285px #fff, 2281px 276px #fff,
    1047px 384px #fff, 2224px 222px #fff, 2513px 1901px #fff, 2447px 620px #fff,
    557px 1629px #fff, 2416px 38px #fff, 500px 1667px #fff, 1408px 2463px #fff,
    2235px 1299px #fff, 447px 166px #fff, 135px 1508px #fff, 1612px 1086px #fff,
    882px 1837px #fff, 968px 849px #fff, 2407px 1018px #fff, 2036px 1773px #fff,
    773px 2344px #fff, 2275px 2217px #fff, 1669px 810px #fff, 2172px 931px #fff,
    568px 740px #fff, 1474px 825px #fff, 2547px 935px #fff, 2346px 2022px #fff,
    509px 734px #fff, 2504px 163px #fff, 1013px 1703px #fff, 574px 205px #fff,
    1498px 569px #fff, 2078px 1167px #fff, 1176px 59px #fff, 802px 644px #fff,
    1246px 2098px #fff, 1065px 2439px #fff, 549px 2086px #fff, 214px 39px #fff,
    2431px 136px #fff, 25px 2012px #fff, 1165px 1120px #fff, 341px 2231px #fff,
    501px 948px #fff, 1399px 61px #fff, 1825px 2082px #fff, 92px 2560px #fff,
    2216px 996px #fff, 177px 1841px #fff, 2376px 2195px #fff, 1727px 278px #fff,
    37px 1359px #fff, 2181px 426px #fff, 2110px 1354px #fff, 157px 721px #fff,
    408px 1088px #fff, 1140px 1769px #fff, 141px 326px #fff, 2180px 34px #fff,
    328px 2034px #fff, 2067px 2359px #fff, 400px 2012px #fff, 57px 2113px #fff,
    1650px 1569px #fff, 2236px 2474px #fff, 892px 626px #fff, 1058px 283px #fff,
    661px 320px #fff, 1219px 2215px #fff, 1726px 1320px #fff, 591px 69px #fff,
    1439px 2031px #fff, 161px 1414px #fff, 383px 2187px #fff, 2482px 915px #fff,
    714px 170px #fff, 1520px 354px #fff, 1119px 467px #fff, 2185px 471px #fff,
    1793px 477px #fff, 676px 1475px #fff, 1312px 377px #fff, 349px 2072px #fff,
    399px 1196px #fff, 316px 2299px #fff, 2064px 1066px #fff, 594px 1684px #fff,
    2176px 703px #fff, 2088px 739px #fff, 2183px 243px #fff, 812px 2286px #fff,
    1641px 2256px #fff, 2032px 1316px #fff, 381px 294px #fff, 1997px 742px #fff,
    424px 247px #fff, 1165px 456px #fff, 514px 1466px #fff, 23px 1558px #fff,
    2228px 652px #fff, 1562px 433px #fff, 2197px 171px #fff, 322px 2131px #fff,
    1260px 852px #fff, 493px 2090px #fff, 1680px 2263px #fff, 562px 970px #fff,
    1444px 1894px #fff, 1898px 2126px #fff, 2493px 751px #fff, 968px 535px #fff,
    322px 1049px #fff, 1998px 1989px #fff, 1510px 1637px #fff, 430px 2039px #fff,
    1727px 2490px #fff, 913px 2373px #fff, 2091px 2325px #fff,
    2247px 1152px #fff, 1221px 1132px #fff, 159px 806px #fff, 596px 1794px #fff;
  height: 1px;
  width: 1px;
}
.particle-4:after {
  box-shadow: 0 0 #fff, 1316px 93px #fff, 2074px 909px #fff, 174px 1491px #fff,
    147px 194px #fff, 1120px 2273px #fff, 1863px 2294px #fff, 2449px 1167px #fff,
    1792px 2021px #fff, 340px 1748px #fff, 2543px 2294px #fff,
    1818px 1937px #fff, 2232px 917px #fff, 1779px 947px #fff, 7px 1000px #fff,
    492px 115px #fff, 1309px 2167px #fff, 189px 98px #fff, 1257px 615px #fff,
    1157px 2386px #fff, 61px 702px #fff, 58px 1615px #fff, 470px 103px #fff,
    1791px 1465px #fff, 1687px 1487px #fff, 986px 1890px #fff, 425px 356px #fff,
    958px 2172px #fff, 1056px 1098px #fff, 1346px 1682px #fff, 569px 858px #fff,
    465px 174px #fff, 1333px 850px #fff, 1105px 2244px #fff, 1490px 793px #fff,
    424px 59px #fff, 1864px 1337px #fff, 1235px 391px #fff, 2151px 1401px #fff,
    2024px 1859px #fff, 2193px 1747px #fff, 531px 1515px #fff,
    1903px 2372px #fff, 1534px 758px #fff, 2182px 2110px #fff, 2132px 999px #fff,
    1869px 2405px #fff, 202px 667px #fff, 1432px 2490px #fff, 967px 2459px #fff,
    2291px 759px #fff, 652px 1198px #fff, 1552px 652px #fff, 1334px 578px #fff,
    1131px 1453px #fff, 148px 789px #fff, 683px 1640px #fff, 1373px 1985px #fff,
    1750px 1196px #fff, 535px 449px #fff, 2456px 1387px #fff, 1519px 180px #fff,
    2496px 1639px #fff, 2163px 879px #fff, 2154px 2374px #fff,
    2445px 1897px #fff, 2230px 611px #fff, 1772px 836px #fff, 492px 2346px #fff,
    1051px 2135px #fff, 302px 189px #fff, 1185px 1387px #fff, 2px 2395px #fff,
    2522px 1220px #fff, 2197px 401px #fff, 863px 1524px #fff, 2330px 2336px #fff,
    629px 1318px #fff, 440px 1880px #fff, 2474px 2073px #fff, 732px 1451px #fff,
    1807px 1134px #fff, 1639px 1361px #fff, 1736px 2009px #fff,
    1840px 2130px #fff, 1499px 1538px #fff, 1382px 2295px #fff,
    1151px 1209px #fff, 1185px 2177px #fff, 1498px 399px #fff, 624px 955px #fff,
    963px 158px #fff, 494px 2427px #fff, 1982px 2118px #fff, 1323px 547px #fff,
    2544px 2363px #fff, 1769px 1913px #fff, 206px 1830px #fff,
    2040px 2414px #fff, 1340px 674px #fff, 1414px 1611px #fff,
    2162px 2490px #fff, 1564px 235px #fff, 960px 2113px #fff, 2532px 160px #fff,
    587px 561px #fff, 2507px 2178px #fff, 353px 145px #fff, 1789px 2541px #fff,
    406px 1750px #fff, 672px 1035px #fff, 300px 896px #fff, 1871px 313px #fff,
    295px 2330px #fff, 501px 568px #fff, 1774px 557px #fff, 1239px 1342px #fff,
    686px 129px #fff, 2371px 1933px #fff, 1512px 1066px #fff, 269px 55px #fff,
    1949px 250px #fff, 929px 1434px #fff, 426px 264px #fff, 1543px 1216px #fff,
    613px 644px #fff, 2308px 2449px #fff, 817px 121px #fff, 1658px 2238px #fff,
    1709px 761px #fff, 2418px 721px #fff, 1731px 892px #fff, 2419px 2244px #fff,
    1492px 261px #fff, 432px 1877px #fff, 805px 2026px #fff, 206px 754px #fff,
    1089px 553px #fff, 2059px 1707px #fff, 2071px 10px #fff, 502px 2290px #fff,
    191px 923px #fff, 776px 101px #fff, 1947px 1408px #fff, 936px 186px #fff,
    2369px 2450px #fff, 1281px 889px #fff, 869px 982px #fff, 503px 2509px #fff,
    558px 462px #fff, 587px 2365px #fff, 1334px 1014px #fff, 1410px 1414px #fff,
    1666px 1087px #fff, 995px 111px #fff, 1579px 1107px #fff, 413px 941px #fff,
    2188px 534px #fff, 2439px 838px #fff, 1493px 1711px #fff, 1123px 1012px #fff,
    2198px 2262px #fff, 599px 2085px #fff, 545px 1600px #fff, 825px 1987px #fff,
    211px 1620px #fff, 398px 635px #fff, 2303px 1908px #fff, 1185px 2077px #fff,
    1631px 125px #fff, 1587px 330px #fff, 11px 509px #fff, 1172px 1189px #fff,
    1581px 1201px #fff, 612px 1172px #fff, 498px 1977px #fff, 833px 2319px #fff,
    1096px 1387px #fff, 1076px 170px #fff, 1486px 1858px #fff, 794px 1631px #fff,
    307px 765px #fff, 1927px 430px #fff, 291px 478px #fff, 65px 2213px #fff,
    999px 1243px #fff, 2404px 2276px #fff, 1843px 169px #fff, 192px 2320px #fff,
    2533px 468px #fff, 1216px 989px #fff, 210px 1628px #fff, 1465px 2278px #fff,
    651px 237px #fff, 1307px 554px #fff, 1915px 961px #fff, 559px 962px #fff,
    907px 161px #fff, 2033px 717px #fff, 2278px 2094px #fff, 619px 651px #fff,
    590px 239px #fff, 2261px 90px #fff, 2520px 448px #fff, 2371px 1045px #fff,
    526px 1858px #fff, 2323px 2497px #fff, 886px 1020px #fff, 1192px 1687px #fff,
    1575px 2457px #fff, 623px 792px #fff, 1582px 884px #fff, 94px 1659px #fff,
    330px 2142px #fff, 1961px 982px #fff, 1101px 1743px #fff, 2515px 2237px #fff,
    438px 2480px #fff, 2106px 721px #fff, 2159px 764px #fff, 1578px 1665px #fff,
    2124px 842px #fff, 2199px 239px #fff, 849px 2487px #fff, 1745px 7px #fff,
    575px 1106px #fff, 1853px 2401px #fff, 2022px 1724px #fff, 867px 242px #fff,
    1150px 1895px #fff, 340px 1317px #fff, 418px 703px #fff, 605px 1044px #fff,
    1121px 1799px #fff, 1486px 1153px #fff, 1886px 86px #fff, 1356px 748px #fff,
    2265px 1349px #fff, 1120px 1546px #fff, 672px 938px #fff, 674px 2476px #fff,
    180px 2383px #fff, 1232px 237px #fff, 1436px 1333px #fff, 1025px 524px #fff,
    1246px 333px #fff, 700px 2113px #fff, 2432px 1380px #fff, 317px 2015px #fff,
    1505px 694px #fff, 1637px 1531px #fff, 573px 1732px #fff, 1542px 1246px #fff,
    1620px 1599px #fff, 636px 537px #fff, 2475px 1904px #fff, 1702px 2332px #fff,
    567px 2320px #fff, 699px 361px #fff, 1806px 2142px #fff, 153px 63px #fff,
    2281px 54px #fff, 211px 157px #fff, 1892px 1089px #fff, 285px 2050px #fff,
    787px 2408px #fff, 2049px 1893px #fff, 256px 858px #fff, 2216px 1873px #fff,
    700px 1695px #fff, 264px 238px #fff, 1878px 2447px #fff, 1882px 210px #fff,
    900px 813px #fff, 325px 1130px #fff, 2188px 892px #fff, 1265px 1745px #fff,
    913px 375px #fff, 1710px 361px #fff, 933px 1108px #fff, 1012px 1095px #fff,
    2109px 2349px #fff, 488px 1520px #fff, 2287px 2067px #fff,
    2282px 1367px #fff, 1346px 3px #fff, 2340px 1023px #fff, 1569px 91px #fff,
    1117px 1629px #fff, 2233px 786px #fff, 545px 524px #fff, 304px 1359px #fff,
    497px 1031px #fff, 2235px 221px #fff, 1891px 1999px #fff, 331px 1019px #fff,
    1181px 746px #fff, 1208px 1013px #fff, 2119px 2333px #fff, 1416px 542px #fff,
    36px 1665px #fff, 1080px 614px #fff, 2554px 2149px #fff, 2453px 2455px #fff,
    1027px 1546px #fff, 1894px 31px #fff, 14px 2297px #fff, 567px 1165px #fff,
    1926px 1643px #fff, 2176px 2410px #fff, 417px 642px #fff, 2402px 1248px #fff,
    1593px 702px #fff, 1186px 2281px #fff, 361px 1524px #fff, 916px 621px #fff,
    224px 94px #fff, 376px 1985px #fff, 192px 560px #fff, 1823px 1656px #fff,
    2315px 2223px #fff, 1539px 706px #fff, 504px 635px #fff, 975px 2541px #fff,
    1854px 42px #fff, 1463px 1282px #fff, 547px 132px #fff, 63px 2071px #fff,
    874px 1218px #fff, 1383px 1269px #fff, 115px 895px #fff, 2295px 131px #fff,
    1374px 1811px #fff, 405px 1360px #fff, 926px 1879px #fff, 61px 2332px #fff,
    1557px 599px #fff, 2233px 548px #fff, 1244px 2555px #fff, 796px 1032px #fff,
    1694px 1783px #fff, 1027px 330px #fff, 1118px 1271px #fff, 682px 1569px #fff,
    2266px 1px #fff, 2274px 2021px #fff, 1220px 498px #fff, 479px 623px #fff,
    411px 1036px #fff, 1015px 2162px #fff, 538px 627px #fff, 758px 1126px #fff,
    934px 1104px #fff, 1975px 1921px #fff, 1739px 1631px #fff, 673px 2330px #fff,
    530px 1555px #fff, 1237px 1316px #fff, 245px 1641px #fff, 1733px 1370px #fff,
    2141px 753px #fff, 1525px 1876px #fff, 989px 2206px #fff, 724px 1760px #fff,
    265px 1285px #fff, 2285px 993px #fff, 1953px 878px #fff, 1178px 799px #fff,
    1172px 1103px #fff, 1530px 326px #fff, 9px 1264px #fff, 641px 2060px #fff,
    2228px 2523px #fff, 1675px 1821px #fff, 1273px 2225px #fff,
    1895px 1679px #fff, 1905px 75px #fff, 1509px 1370px #fff, 1062px 576px #fff,
    2085px 1364px #fff, 454px 1983px #fff, 527px 1168px #fff, 1810px 781px #fff,
    2185px 1406px #fff, 2083px 471px #fff, 1983px 1901px #fff,
    1898px 1653px #fff, 420px 572px #fff, 2160px 1821px #fff, 1668px 615px #fff,
    219px 457px #fff, 635px 493px #fff, 699px 41px #fff, 2079px 1655px #fff,
    1115px 447px #fff, 421px 812px #fff, 758px 2146px #fff, 889px 1927px #fff,
    1266px 24px #fff, 415px 1479px #fff, 210px 1487px #fff;
  height: 1px;
  width: 1px;
}
@keyframes animParticle {
  0% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2560px);
  }
}
